extends ../layouts/main.pug

block content

 .container

        h1 About Page

      

        p What we do is just possible things but you know what everybody can do this job but no one can be US ;)


       
        a#backToHome(href='/') HOME
       
