extends ../layouts/main.pug

block content
 .container



        h1#my-unique-id Contact Page
        p.intro-tetx(data-attr="my value") Dhvanit Merchant :  200382214 (Admin)

        li Dhruv Patel : 200382210
        li Mehul Shah : 200390083
        li Jemin Suvagiya : 200372988
        br

        a#backToHome(href='/') HOME

