extends ../layouts/main.pug

block globals
  

block content

  header
    h1
      = title
    


  #body
  #header
    p HUSTLER PROJECT
  #title
    

 
          
         
  #image-links
  
    a(href='about')
      img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdgcMw4aifW_we8Bf7Ku9uk1jwxG6KDUYlFZ73qoo3wl-R8jLu' alt='About Us' )
    
    a(href='contact')
      img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvnHpNDhH3vtu2ZUTEGLFxveCFsCUu8w_QjDmNros9aCHDK9Pv' alt='Contact Us' )
    
    a(href='musics')
      img(src="https://st2.depositphotos.com/6429120/12131/v/950/depositphotos_121316436-stock-illustration-music-icon-vector-logo-element.jpg" alt='Music' )
    
 
 
